<!DOCTYPE html>
<html lang="de">

<head>
    <title>Wikimania</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Alegreya" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/src/css/reset.css">
    <link rel="stylesheet" href="/src/css/layout.css">
</head>

<body ng-app="wikimania">
    <main>
        <article class="align-center" id="wikimania-main">
            <section id="title-screen">
                <div class="container">
                    <div class="g12"><img src="src/imgs/logo.png" width="320px" height="auto" alt="Logo"></div>
                    <div class="g12">
                        <h1>Wikimania</h1>
                        <h4>by</h4>
                        <h4>Pixelpedia</h4></div>
                    <div class="g12" id="title-screen-button" ng-controller="wikimania-player-controller">
                        <div class="button button-green" ng-click="enterNewGame()">Spiel starten</div>
                        <div class="button button-lightblue" onclick="openSection('highscore')">Highscore</div>
                        <div class="button button-darkblue" id="game-rules">Spielregeln</div>
                        <div class="button button-red" onclick="window.close()">Exit</div>
                    </div>
                </div>
            </section>
            <section id="naming-screen" ng-controller="wikimania-player-controller">
                <div class="g12 align-left return-button"><a onclick="openSection('title-screen')"><i class="material-icons">&#xE5C4;</i>Zurück</a></div>
                <div class="form-group" id="naming-screen-form">
                    <label for="name-field">Spielernamen eingeben</label>
                    <input id="name-field" name="playerName" type="text" required="required" placeholder="Spielernamen hier eingeben" value="TestSpieler">
                </div>
                <div class="button button-green" id="confirm-name" ng-click="setPlayer()">Bestätigen</div>
            </section>
            <section id="game-rules-popup">
                <div class="popup-controls">
                    <div id="popup-close"><i class="material-icons">&#xE5CD;</i></div>
                    <div class="slide-left"><i class="material-icons" onclick="ruleSlide(-1)">&#xE5CB;</i></div>
                    <div class="slide-right"><i class="material-icons" onclick="ruleSlide(1)">&#xE5CC;</i></div>
                </div>
                <div class="popup-content"><img class="game-rules" src="src/imgs/Spielregeln.png" width="800" height="auto"><img class="game-rules" src="src/imgs/Spielfeatures.png" width="800" height="auto"></div>
            </section>
            <section id="difficulty-selection">
                <div class="container">
                    <div class="g12 align-left return-button"><a onclick="openSection('title-screen')"><i class="material-icons">&#xE5C4;</i>Zurück</a></div>
                    <h2>Schwierigkeitsgrad</h2>
                    <div class="g12" id="difficulty-selection-mode">
                        <div class="container" id="button-container">
                            <div class="g12 align-center">
                                <div class="button button-green" onclick="openSection('preparation-screen-easy-mode')">Einsteiger</div>
                            </div>
                            <div class="g12 align-center">
                                <div class="button button-red" onclick="openSection('preparation-screen-hard-mode')">Experte</div>
                            </div>
                            <div class="g12 align-center">
                                <div class="button button-darkblue" onclick="openSection('highscore')">Challenge a Highscore</div>
                            </div>
                        </div>
                        <div class="g12" id="mode-information">
                            <div class="triangle-left"></div>
                            <div class="triangle-right"></div>
                            <div class="triangle-up"></div>
                            <div class="g6 box" id="beginner-mode-info">
                                <h5>Besonderheiten beim Einsteiger-Modus</h5>
                                <ul class="align-left">
                                    <li>- Start und Ziel auswählbar</li>
                                    <li>- Empfehlenswert für Anfänger</li>
                                </ul>
                            </div>
                            <div class="g6 box" id="expert-mode-info">
                                <h5>Besonderheiten beim Experten-Modus</h5>
                                <ul class="align-left">
                                    <li>- Start und Ziel per Zufall ausgewählt</li>
                                    <li>- Empfehlenswert für geübte Spieler</li>
                                </ul>
                            </div>
                            <div class="g6 box" id="challenge-mode-info">
                                <h5>Speziell von Wikimania</h5>
                                <ul class="align-left">
                                    <li>- Ein vorhandenen HighScore übertreffen</li>
                                    <li>- Sich in der Bestenliste verewigen</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preparation-screen-easy-mode">
                <div class="container">
                    <div class="g12 align-left return-button"><a onclick="openSection('difficulty-selection')"><i class="material-icons">&#xE5C4;</i>Zurück</a></div>
                    <div class="g12" ng-controller="wikimania-game-gui-controller">
                        <h3>Easy Mode</h3>
                        <div class="g1"></div>
                        <div class="g5" id="start-selection-easy">
                            <button class="accordion">Start</button>
                            <div class="panel" id="easy-starts" data-ng-init="generateGameList('#easy-starts')">
                            </div>
                        </div>
                        <div class="g5" id="finish-selection-easy">
                            <button class="accordion">Ziel</button>
                            <div class="panel" id="easy-ends" ng-init="generateGameList('#easy-ends')">
                            </div>
                        </div>
                        <div class="g1"></div>
                    </div>
                    <div class="g12 start-game-button" ng-controller="wikimania-game-gui-controller">
                        <div class="button button-green" ng-click="initiateSimpleGame()">Spiel starten</div>
                    </div>
                </div>
            </section>
            <section id="preparation-screen-hard-mode" ng-controller="wikimania-game-gui-controller">
                <div class="container" data-ng-init="prepareHardGame()">
                    <div class="g12 align-left return-button"><a onclick="openSection('difficulty-selection')"><i class="material-icons">&#xE5C4;</i>Zurück</a></div>
                    <div class="g12">
                        <h3>Hard Mode</h3><a onclick="openSection('preparation-screen-hard-mode')"><i class="material-icons">&#xE5D5;</i>Wähle einen neuen Start und Zielpunkt</a>
                        <div class="g12">
                            <div class="g1"></div>
                            <div class="g10" id="start-selection-hard">
                                <button class="accordion">Start:</button>
                                <div class="panel" id="hard-start">
                                </div>
                            </div>
                            <div class="g1"></div>
                        </div>
                        <div class="g12">
                            <div class="g1"></div>
                            <div class="g10" id="finish-selection-hard">
                                <button class="accordion">Ziel:</button>
                                <div class="panel" id="hard-finish">
                                    <p>Zielpunkt</p>
                                </div>
                            </div>
                            <div class="g1"></div>
                        </div>
                    </div>
                    <div class="g12 start-game-button">
                        <div class="button button-green" onclick="openSection('wikipedia-content')">Spiel starten</div>
                    </div>
                </div>
            </section>
            <section id="highscore" ng-controller="wikimania-hs-controller">
                <div class="container">
                    <div class="g12 align-left return-button"><a onclick="openSection('difficulty-selection')"><i class="material-icons">&#xE5C4;</i>Zurück</a></div>
                    <div class="g12">
                        <h2>Highscores</h2>
                        <div class="g12" id="highscore-table" data-ng-init="getAllHighscores()">
                            <table class="align-center">
                                <thead>
                                    <tr>
                                        <th>Start</th>
                                        <th>Ziel</th>
                                        <th>Highscore</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Wasser</td>
                                        <td>Banane</td>
                                        <td>50</td>
                                        <td>Challenge!</td>
                                    </tr>
                                    <tr>
                                        <td>Banane</td>
                                        <td>Wasser</td>
                                        <td>1</td>
                                        <td>Challenge!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <section id="wikipedia-content">
                <div class="g12 box" id="wikipedia-content-info">
                    <div class="g4">
                        <p>Ziel:</p>
                    </div>
                    <div class="g4">
                        <p id="current-clicks">Clicks:</p>
                    </div>
                    <div class="g4"><a onclick="openSection('title-screen')"><i class="material-icons">&#xE5C9;</i>Cancel</a></div>
                </div>
                <div class="container">
                    <div id="wikipedia-article">
                    </div>
                </div>
            </section>
            <section id="success-screen">
                <h3>Sie haben es geschafft!</h3>
                <h4>Von XYZ nach ABC in</h4>
                <div class="container">
                    <div class="g5 align-right">
                        <p>X Schritten</p>
                    </div>
                    <div class="g2"></div>
                </div>
                <div class="container" id="success-way">
                    <h4>Diesen Weg sind sie gegangen</h4>
                    <div id="success-stations">
                        <p>Pizza</p>
                        <p>Essen</p>
                        <p>Italien</p>
                        <p>Pasta</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <script src="node_modules\angular/angular.min.js"></script>
    <script src="src/js/gui.js"></script>
    <script src="src/js/index.js"></script>
    <script src="src/js/game.js"></script>
    <script src="src/js/highscores.js"></script>
    <script src="src/js/player.js"></script>
    <script src="src/js/network.js"></script>
</body>

</html>
