<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <title>wikimania - A crazy race trough Wikipedia</title>
  </head>
  <body ng-app="wikimania">
	<div ng-controller='wikimania-controller'>
  <div ng-click="startGame(1526957, 805737)" id='startGame'>Start Game</div>
  <div ng-click="startGameExpert()" id='expert'>Start Game Expert</div>
  <span>ID: {{activeArticle.id}}</span>
  <span>Title: {{activeArticle.title}}</span>
  <span>Clicks: {{articleCounter}}</span>
  <div id = 'articles'>Weg:</div>
  <div ng-click="getPreview()" id='preview'>Preview</div>
  <div ng-click="reset()" id='reset'>Reset</div>
  <div ng-click="getRandomArticle()" id='random'>Zufall</div>
  <div id='goal'>{{goalReached}}</div>
	</div>
	<div id = 'contextNode'></div>
	    <script src="node_modules\angular\angular.min.js"></script>
	<script src="src\js\index.js"></script>
  <script src="src\js\network.js"></script>
  </body>
</html>
